.input_box{

}
.input_box text{
	width:20%;
	height:35px;
	font-size: 25px;
	float: left;
	text-align: center;
}
.input_box input{
	width: 75%;
	margin-left:5%;
	height: 35px;
	float: left;
	background-color: #007AFF;
}